body {
	background-image: url('assets/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.title-container {
	display: grid;
}

.left-item {
	grid-column: 1;
}

.right-item {
	grid-column: 2;
}

#pfp {
	width: 25%;
	border-radius: 50%;
	margin-top: 25px;
}

#bodyCenter {
	background-color: rgba(0,0,0,0.9);
	margin: auto;
	width: 75%;
	padding-left: 15px;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

p {
	color: #c4c4c4;
}

ul {
	color: #c4c4c4;
}

iframe {
	display: block;
	margin: auto;
}

a:visited {
	color: blueviolet;
}